<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029709252983-7gm8kvrhl3f9usrq2j8mp3klomgmmj2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029709252983-7gm8kvrhl3f9usrq2j8mp3klomgmmj2e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029709252983-7up0erm1bnmmrnsvirl9d1nhkinv3kmd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMqv3099QOqxX-DfWT6AQRQ4FnMkDkxJg</string>
	<key>GCM_SENDER_ID</key>
	<string>1029709252983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realgamesrealfun.justthecrumbs</string>
	<key>PROJECT_ID</key>
	<string>just-the-crumbs-app</string>
	<key>STORAGE_BUCKET</key>
	<string>just-the-crumbs-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029709252983:ios:3ad6eb8d9da0859397b972</string>
</dict>
</plist>